.header {
    color: #1ABC9C;
    font-size: 27px;
    padding: 10px;
}

.tablaverde{
    background: #1ABC9C!important;
    font-size: 20px!important;
    color: #FFFFFF!important;
}

.bigicon {
    font-size: 35px!important;
    color: #1ABC9C!important;
}
.navbar{
    background: #1ABC9C;
    color:#FFF!important;
}
.navbar ul li a{
    color:#FFF!important;
}
.navbar .navbar-brand{
    color:#FFF!important;
}
.sombra{
    -webkit-box-shadow: -9px 6px 31px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -9px 6px 31px -2px rgba(0,0,0,0.75);
box-shadow: -9px 6px 31px -2px rgba(0,0,0,0.75);
}